<h1><%= t(:editing_event, :scope => [:view, :title]) %></h1>

<%= render 'form' %>

<%= link_to t('show', :scope => [:view, :title]), @event %> |
<%= link_to t('back', :scope => [:view, :title]), events_path %>
