<h1><%= t('events.editing', :scope => [:views]) %></h1>

<%= render 'form' %>

<%= link_to t('show', :scope => [:views, :global]), for_organizer_event_path(@event) %> |
<%= link_to t('back', :scope => [:views, :global]), events_member_path(current_member) %>
