<h1><%= t('members.editing', :scope => [:views]) %></h1>

<%= render 'form' %>

<%= link_to t('show', :scope => [:views, :global]), @member %> |
<%= link_to t('back', :scope => [:views, :global]), members_path %>
