<h1><%= t(:editing_member, :scope => [:view, :title]) %></h1>

<%= render 'form' %>

<%= link_to t('show', :scope => [:view, :title]), @member %> |
<%= link_to t('back', :scope => [:view, :title]), members_path %>
